{% comment %}
Copyright (C) 2023 Katsute <https://github.com/Katsute>
{% endcomment %}
<footer class="flex grow justify-end p-4">
    <p class="text-sm text-white">Copyright © {{ "now" | date: "%Y" }} Katsute</p>
</footer>