{% comment %}
Copyright (C) 2023 Katsute <https://github.com/Katsute>
{% endcomment %}
<header class="flex grow justify-between p-4">
    <div>
        <h1 class="text-white">
            <a href="/">MyAnimeList CLI</a>
        </h1>
    </div>
    <div>
        <ul class="flex flex-row text-white space-x-8">
            <li>
                <a href="https://github.com/KatsuteDev/MyAnimeList-CLI" rel="noopener noreferrer">GitHub</a>
            </li>
            <li>
                <a href="https://github.com/KatsuteDev/MyAnimeList-CLI/releases" rel="noopener noreferrer">Releases</a>
            </li>
        </ul>
    </div>
</header>